@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .tenantCard {
    margin-bottom: $MEDIUM;
    &__main {
      // display: flex;
      // align-items: flex-end;
      // justify-content: center;
      // height: 150px;
      // padding-bottom: $MEDIUM;
      // background-color: green;
      // border-radius: 15px;
      // box-shadow: $BOX_SHADOW_WIDGET;
    }
    &__content {
      // height: 0;
      // overflow: hidden;
      // background-color: brown;
      // transition: all 600ms ease-out;
      // &Expanded {
      // height: 100%;
      // }
    }
    &Main {
      &__name {
        @include font-type($MAIN_FONT, $MIDLARGE);

        color: white;
        text-align: center;
      }
    }
    &Content {
      &__bio {
        @include font-type($MAIN_FONT, $MEDIUM);
        color: white;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
