@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .landing {
    margin-top: 75vh;
    background-color: white;
    &__title {
      @include font-type($size: $LARGE);

      padding: $XLARGE;
      color: black;
      text-align: center;
    }
    &__content {
      @include font-type($size: $MEDIUM);

      max-width: $MAX_WIDTH__TEXT;
      margin: 0 auto $MEDIUM;
      padding: 0 $MEDIUM;
      text-align: center;
    }
    &__video {
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .landing {
    margin-top: 75vh;
    &__content {
      margin-inline: auto;
      padding: 0;
    }
    &__video {
      max-width: $MAX_WIDTH__CONTENT;
      margin: 0 auto;
    }
  }
}
//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
