@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .landing {
    margin-top: 75vh;
    padding: $XLARGE;
    background-color: white;
    &__title {
      @include font-type($size: $LARGE, $weight: 300);

      padding: 0 $SMALL;
      color: black;
      text-align: center;
    }
    &__secondary {
      @include font-type($SEC_FONT, $size: $MEDIUM);

      max-width: $MAX_TEXT_WIDTH;
      margin: $LARGE auto 0;
      padding: 0 $MEDIUM;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .landing {
    &__secondary {
      margin-right: auto;
      margin-left: auto;
      padding: 0;
    }
  }
}
//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
