@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .contactContainer {
    position: relative;
    &__title {
      @include font-type($size: $LARGE);

      margin: $MEDIUM $SMALL 25vh;
      text-align: center;
    }
    &__shape {
      position: absolute;
      top: 30%;
      z-index: -1;
      width: 115vw;
      height: 500px;
      background: linear-gradient(to top right, #86f7cc, #67d7f5);
      $INSIDE: 0 0, 0 400px, 115vw 200px;
      transform: skew(50deg);
      // transform: skew(20deg, 20deg);
      clip-path: polygon($INSIDE);
    }
    &__methods {
      display: none;
      // display: flex;
    }
    .contactMethod {
      // width: 100%;
      // height: 50vh;
      background-color: green;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
