@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .location {
    padding-bottom: $XLARGE;
    background-color: white;
    &__title {
      @include font-type($size: $LARGE);

      margin-block: $XLARGE $MEDIUM;
      text-align: center;
    }
    &__map {
      padding-inline: $SMALL;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .location {
    &__title {
    }
    &__map {
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .location {
    &__title {
      margin-block: $XXLARGE $LARGE;
    }
    &__map {
      max-width: $MAX_WIDTH__CONTENT;
      margin-inline: auto;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
