@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .tenantsContainer {
    min-height: $MAIN_HEIGHT;
    &__wrapper {
      padding-bottom: $LARGE;
    }
    &__title {
      @include font-type($size: $LARGE);

      padding: $MEDIUM $SMALL;
      text-align: center;
      background-color: white;
    }
    &__tenants {
      margin-top: $LARGE;
      padding: 0 $MEDIUM;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .tenantsContainer {
    &__tenants {
      padding: 0 auto;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .tenantsContainer {
    &__wrapper {
      max-width: 750px;
      margin: 0 auto;
    }
    &__tenants {
      height: 1700px;
      padding: $MIDLARGE auto $XLARGE;
      column-count: 2;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
