@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .tenantsContainer {
    min-height: $MAIN_HEIGHT;
    padding: $LARGE;
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      text-align: center;
    }
    &__tenants {
      margin-top: $LARGE;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .tenantsContainer {
    display: flex;
    flex-direction: column;
    &__tenants {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .tenantsContainer {
    display: flex;
    flex-direction: column;
    // align-content: space-around;
    margin: 0 auto;
    &__tenants {
      display: grid;
      grid-template-columns: repeat(2, 0.8fr);
      justify-items: center;
      // min-width: 100%;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
