@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .tenantsContainer {
    min-height: $MAIN_HEIGHT;
    // padding: 0 20%;
    &__wrapper {
      padding-bottom: $LARGE;
      // background-color: white;
      // background-color: blue;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      padding: $LARGE 0;
      text-align: center;
      background-color: white;
    }
    &__tenants {
      // display: flex;
      margin-top: $LARGE;
      padding: 0 $SMALL;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .tenantsContainer {
    &__tenants {
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .tenantsContainer {
    &__tenants {
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
