@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .landingContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    &__contactFormWidget {
      min-width: 95%;
      margin-inline: $SMALL;
      margin-bottom: $XXLARGE;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .landingContainer {
    &__contactFormWidget {
      min-width: 65%;
      margin-inline: auto;
      margin-bottom: $XXLARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .landingContainer {
    &__contactFormWidget {
      min-width: 50vmin;
      margin-inline: auto;
      margin-bottom: $XXLARGE;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
