@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .tenantCardDesktopContent {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 70%;
    height: 85%;
    padding: $LARGE;
    background-color: whitesmoke;
    border-radius: 10px;
    transform: translate(-50%, -45%);
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $SMALL;
      .header {
        &__title {
          @include font-type($MAIN_FONT, $LARGE, bold);
          color: $FONT_SEC_GRAY;
        }
        &__close {
          font-size: $LARGE;
          cursor: pointer;
        }
      }
    }
    .content {
      &__body {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: $SMALL;
        .body__links {
          display: flex;
          flex-direction: row;
          gap: $MIDSMALL;
          .links__link {
            .link__icon {
              font-size: $XLARGE;
            }
          }
        }
        .body__bio {
          display: grid;
          gap: $MEDIUM;
          height: fit-content;
          .bio__lineItem {
            max-width: 80%;
            font-size: $MEDIUM;
          }
        }
      }
      &__images {
        display: none;
      }
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
  .tenantCardDesktopContent {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: $MAX_TEXT_WIDTH + 350px;
    &__content {
      display: flex;
      align-items: stretch;
      min-height: 100%;
      overflow-y: hidden;
      // background-color: blue;
    }
    .content {
      &__body {
        max-width: $MAX_TEXT_WIDTH;
        overflow-y: scroll;
      }
      &__images {
        display: unset;
        flex-grow: 1;
        max-width: 350px;
        min-height: 100%;
        overflow-y: scroll;
        background-color: yellow;
        .images__galleryImage {
          height: 400px;
          background-color: pink;
        }
      }
    }
  }
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
