@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .tenantCardDesktopContent {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 70%;
    min-height: 65%;
    background-color: whitesmoke;
    border-radius: 10px;
    transform: translate(-50%, -45%);
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: $SMALL $MEDIUM;
      .header {
        &__title {
          @include font-type($MAIN_FONT, $LARGE, bold);
          color: $FONT_SEC_GRAY;
        }
        &__close {
          font-size: $LARGE;
          cursor: pointer;
        }
      }
    }
    &__body {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: $SMALL;
      padding: 0 $MEDIUM $SMALL;
      .body__links {
        display: flex;
        flex-direction: row;
        gap: $MIDSMALL;
        .links__link {
          .link__icon {
            font-size: $XLARGE;
          }
        }
      }
      .body__bio {
        display: grid;
        gap: $MEDIUM;
        .bio__lineItem {
          font-size: $MEDIUM;
        }
      }
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
