@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .tenant {
    &__card {
      height: 150px;
      margin-bottom: $MEDIUM;
      background-color: green;
      border-radius: 15px;
      box-shadow: $BOX_SHADOW_WIDGET;
      &Image {
      }
      &Name {
        @include font-type($MAIN_FONT, $MIDLARGE);

        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        padding-bottom: $MEDIUM;
        color: white;
        text-align: center;
      }
    }
    &__expanded {
      margin: $SMALL;
      padding: $MEDIUM;
      box-shadow: $BOX_SHADOW_WIDGET;
    }
    &__bio {
      &Entry {
        padding: $SMALL 0;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
