@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .aboutUs {
    padding: $XLARGE;
    background-color: white;
    &__title {
      font-size: $LARGE;
      text-align: center;
    }
    &__content {
      max-width: $MAX_WIDTH__TEXT;
      margin: $LARGE auto 0;
      font-size: $MEDIUM;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
